/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Share+Tech&family=Source+Code+Pro&display=swap');

/* Global styling */
* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Fredericka the Great', cursive;
	color: white;
}

/* Background colour for the site behind the image */
html {
	background-color: #1f1b18;
}

/* Background image */
body {
	font-size: 20px;
	background: url('../images/background.webp') no-repeat;
	background-size: cover;
	min-height: 100vh;
}

/* Header */
h1 {
	font-size: 56px;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 50px;
}

/* Hide all page sections except the first new game area for new users */
#won-game {
	display: none;
}

#lost-game {
	display: none;
}

#puzzle-areas {
	display: none;
}

/* Default new game page styling */
#new-game, #won-game, #lost-game {
	margin: 50px;
	text-align: center;
	font-size: 28px;
}

/* Styling for new game button */
.new {
	margin-top: 25px;
	font-size: 25px;
	margin-bottom: 100px;
	background-color: #1f1b18;
	border: 2px solid;
	padding: 10px 15px;
	border-radius: 15px;
	cursor: pointer;
}

.new:hover {
	background-color: transparent;
}

/* Styling for H2s on new game pages */

#won-game h2, #lost-game h2 {
	margin-bottom: 20px;
}

#new-game h2 {
	text-align: center;
	font-size: 28px;
}

/* Styling for the puzzle area and instructions */
#puzzle img {
	width: 5%;
	margin-top: auto;
}

#puzzle h2 {
	text-align: center;
	font-size: 28px;
	margin: 0 50px 50px 50px;
}

.puzzle-word {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

/* Hangman image and alphabet puzzle area */
#hangman-alphabet {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 25px;
	padding-bottom: 50px;
}

/* Hangman image puzzle */
#hangman-image {
	transform: scale(0.8);
	width: 45%;
}

#hangman-image img {
	max-width: 100%;
	width: 75%;
	align-self: self-start;
}

/* Alphabet for user selection */
#alphabet {
	width: 45%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 30px;
}

#alphabet img {
	width: 50%;
}

#alphabet button {
	background-color: transparent;
	cursor: pointer;
}


/* Media Queries */
/* For screens 1200px wide and less */
@media screen and (max-width: 1200px) {
/* Change size of text */

	#new-game, #won-game, #lost-game {
		font-size: 24px;
	}

	.new {
		font-size: 21px;
	}

	#puzzle p {
		font-size: 24px;
	}

/* Change the amount of letters per line for the alphabet */
	#alphabet {
		grid-template-columns: repeat(5, 1fr);
	}
}

/* For screens 950px wide and less */
@media screen and (max-width: 950px) {
/* Change size of text */
	h1 {
		font-size: 48px;
	}

	#new-game, #won-game, #lost-game {
		font-size: 18px;
	}

	.new {
		font-size: 15px;
	}

	#puzzle p {
		font-size: 18px;
	}

/* Change the amount of letters per line for the alphabet */
	#alphabet {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* For screens 600px wide and less */
@media screen and (max-width: 600px) {
/* Change the amount of letters per line for the alphabet */
	#alphabet {
		grid-template-columns: repeat(3, 1fr);
	}
}